.post-type-wishsimply .postbox .handlediv {
    display: none!important;
}

.post-type-wishsimply .postbox label {
    display: inline-block;
    margin-bottom: 5px;
}

input#wishsimply-shortcode {
    background-color: #fff;
}

.wishsimply-notice {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px 12px 12px;
}
.wishsimply-notice .logo-wrap {
    margin-right: 26px;
}
.wishsimply-notice .desc h2 {
    font-size: 20px;
    margin: 0 0 8px 0;
}
.wishsimply-notice .desc ol {
    margin: 0 0 0 16px;
}